@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-on-viewport {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 300ms, transform 300ms;
}

.animate-on-viewport.show {
    opacity: 1;
    transform: translateX(0);
}

/* kreon-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/kreon-v37-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kreon-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kreon-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kreon-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/kreon-v37-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: 'Kreon';
}