<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/vendor/public-styles.css">

     <!-- Meta descrição para SEO -->
     <meta name="description" content="Envío de remesas y casa de cambio. Sitio de Demostración.">

    <!-- Palavras-chave para SEO -->
    <meta name="keywords" content="cambios, bolivares, reales, Venezuela, Brasil, remesas">

    <!-- Autor do conteúdo -->
    <meta name="author" content="Keiner Mendoza">

    <!-- Meta tags Open Graph para redes sociais (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="Envío de Remesas. Sitio de Muestra">
    <meta property="og:description" content="Envío de remesas y casa de cambio. Sitio de Demostración.">
    <meta property="og:image" content="https://cambios.keinermendoza.com/static/portada.jpg">
    <meta property="og:url" content="https://cambios.keinermendoza.com/">

    <!-- Meta tags para Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Envío de Remesas. Sitio de Muestra">
    <meta name="twitter:description" content="Envío de remesas y casa de cambio. Sitio de Demostración.">
    <meta name="twitter:image" content="https://cambios.keinermendoza.com/static/portada.jpg">

    <title>{% block title %}Mi sitio{% endblock %}</title>
</head>
<body>
    <header>
        {% include "partials/modal.html" %}
        <h1>Mi sitio web</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Mi sitio</p>
    </footer>
</body>
</html>